<!DOCTYPE html>

<html>
    <head>
        <title>FABFLIX</title>
        <link rel="stylesheet" href=" login.component.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
        </style>
    </head>

    <body>
        <div class="form-container">
            <div class="user-icon"></div>
            <ul class="list">
                <li>Member Login</li>
                <li><input type="text" name="User Name" placeholder="Username"></li>
                <li><input type="password" name="Password" placeholder="********"></li>
                <li><input type="button" name="Submit" value="Submit"></li>
            </ul>
        </div>
    </body>
</html>