<!DOCTYPE html>

<html>
    <head>
        <title>FABFLIX</title>
        <link rel="stylesheet" href=" login.component.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
        </style>
    </head>

    <body>
        <form action="form" method="GET">
            <div class="form-container">
                <div class="user-icon"></div>
                <ul class="list">
                    <li>Member Login</li>
                    <li><input type="text" name="username" placeholder="Username"></li>
                    <li><input type="password" name="password" placeholder="********"></li>
                    <li><input type="submit" name="submit" value="Submit"></li>
                </ul>
            </div>
        </form>
    </body>
</html>