<div *ngIf="isAuth">
<div class="body">
  <div class="confirmation-panel">
    <div class="panel-body">
      <div class="header"></div>

      <div class="message-field">
        <h1 class="msg-header">THANK YOU FOR YOUR ORDER</h1>
        <br/>
        <p class="msg-body">
          Hello {{this.shoppingService.firstName}} {{this.shoppingService.lastName}}, <br/><br/>
          We have successfully received your order. You may review it below or return to our site. Thank you for supporting Fabflix!
        </p>
      </div>

      <div class="order-details">
        <table class="table">
          <caption>Order Items</caption>

          <thead class="table-head">
          <tr>
            <th scope="col" style="..."><strong>Sale ID</strong></th>
            <th scope="col">Movie Title</th>
            <th scope="col" style="...">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
          </thead>

          <tbody class="table-body">

          <tr *ngFor="let movieId of ids; let i = index">
            <td>{{this.shoppingService.saleIds[i]}}</td>
            <td>{{this.movieTitles.get(movieId)}}</td>
            <td>{{this.shoppingService.cartContents[movieId]}}</td>
            <td>{{this.shoppingService.cartContents[movieId] * 5 | currency}}</td>
          </tr>

          <tr class="table-footer">
            <td style="text-align:right" colspan="4" class="footer-data"> <strong>TOTAL: </strong> {{calculateTotal() | currency}} </td>
          </tr>

          </tbody>
        </table>
    </div>

    <div class="panel-footer">
      <button (click)="navigateToSearch()" class="btn back-btn">Return to Search</button>
      <button (click)="navigateToList()" class="btn next-btn">Return to List</button>
    </div>

  </div>
</div>
</div>
</div>
