<!-- <div *ngIf="isAuth"> -->
<div class="body">
  <div class="confirmation-panel">
    <div class="panel-body">
      <div class="header">
      </div>

      <div class="message-field">
        <h1 class="msg-header">THANK YOU FOR YOUR ORDER</h1>
        <br/>
        <p class="msg-body">
          Hello {{this.shoppingService.firstName}} {{this.shoppingService.lastName}}, <br/><br/>
          We have successfully received your order. You may review it below or return to our site. Thank you for supporting Fabflix!
        </p>
      </div>

      <div class="order-details">
        <table class="table">
          <caption>Order Items</caption>

          <thead class="table-head">
          <tr>
            <th scope="col" style="..."><strong>Sale ID</strong></th>
            <th scope="col">Movie Title</th>
            <th scope="col" style="...">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
          </thead>

          <tbody class="table-body">
<!--          <tr>-->
<!--            <td>Id</td>-->
<!--            <td>Movie Title</td>-->
<!--            <td>1</td>-->
<!--            <td>$5.00</td>-->
<!--          </tr>-->

          <tr *ngFor="let movie of sales.keys()">
            <td>{{sales[movie]}}</td>
            <td>{{movie}}</td>
            <td>{{quantities[movie]}}</td>
            <td>{{5 * quantities[movie] | currency}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-footer">
      <button class="btn back-btn">Return to Browse</button>
      <button class="btn next-btn">Return to Search</button>
    </div>

  </div>
</div>
<!-- </div> -->