<!DOCTYPE html>
<html>
    <head>
        <title>FABFLIX</title>
        <link rel="stylesheet" href="title-list.component.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
        </style>
    </head>

    <body>
        <div class="content">
            <p class="heading">Browse by Title</p>
            <ul >
                <li class="list-item-heading">
                    <p>By Number:</p>
                    <a href="#">0</a>
                    <a href="#"">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                </li>
                <li class="list-item-heading">
                    <p>By Letter:</p>
                    <a href="#">A</a>
                    <a href="#">B</a>
                    <a href="#">C</a>
                    <a href="#">D</a>
                    <a href="#">E</a>
                    <a href="#">F</a>
                    <a href="#">G</a>
                    <a href="#">H</a>
                    <a href="#">I</a>
                    <a href="#">J</a>
                    <a href="#">K</a>
                    <a href="#">L</a>
                    <a href="#">M</a>
                    <a href="#">N</a>
                    <a href="#">O</a>
                    <a href="#">P</a>
                    <a href="#">Q</a>
                    <a href="#">R</a>
                    <a href="#">S</a>
                    <a href="#">T</a>
                    <a href="#">U</a>
                    <a href="#">V</a>
                    <a href="#">W</a>
                    <a href="#">X</a>
                    <a href="#">Y</a>
                    <a href="#">Z</a>
                </li>
                <li class="list-item-heading">
                    <p>By Non-Alphanumeric:</p>
                    <a href="#">*</a>
                </li>
            </ul>
            <br>
            <button type="button" class="back-button"><a [routerLink] = "['/movie-list']">Back to search</a></button>
        </div>
    </body>
</html>
