* {
    font-family: 'Abel', sans-serif;
}

.title {
    font-family: 'Exo 2', sans-serif;
    font-size: 3.0em;
    margin: 15px 0;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f3f3f3;
}

.error {
    position: absolute;
    font-family: 'Abel', sans-serif;
    color: #f3f3f3;
    top: 65%;
    left: 43%;
}

body {
    margin: 0;
    padding: 0;
    background: #232426;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    height: 100px;
    border-radius: 80px;
    padding: 10px;
}

.search-box:hover {
  height: 180px;
  width: 400px;
  border-radius: 20px;
}

.search-box:hover > .search-text {
    top: 45%;
    background: #f3f3f3;
    width: 300px;
    padding: 0 5px;
}

.search-box:hover > .search-text:nth-child(2) {
  width: 125px;
}

.search-box:hover > .search-button {
    width: 40px;
    height: 40px;
    background: #232426;
    font-size: medium;
}

.search-button {
    color: steelblue;
    float: right;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
    font-size: xx-large;
    border-left: none;
    border-top: none;
}


.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    border-radius: 40px;
    color: #232323;
    font-size: 1.0em;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.links {
    margin: 15px 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
}

.links button {
    color: steelblue;
    background: #f3f3f3;
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.9em;
    margin: 5px;
}

.viewCart {
    position:absolute;
    font-size:0.8em;
    margin-left: 5px;
    bottom:   15px;
    border-radius: 20px;;
    right: 1%;
    bottom: 95%;
}

