<title>{{ star.name }}</title>
<!-- <link rel="stylesheet" href="single-star.component.css">

<meta name="viewport" content="width=device-width", initial-scale="1.0"> -->

<!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
</style> -->

<body>
    <!-- <p class = "title">FABFLIX</p> -->

    <div class = "content">
        <p class = "heading"><strong>Name</strong></p>
        <p>{{ star.name }}</p>
        <p class = "heading"><strong>Birth Year</strong></p>
        <div *ngIf="star.birthYear == 0">
            <p>N/A</p>
        </div>
        <div *ngIf="star.birthYear != 0">
            <p>{{ star.birthYear }}</p>
        </div>
        <p class = "heading"><strong>Movies</strong></p>
        <ul *ngFor="let movie of movies">
            <li><a [routerLink]="['/movie/', movie.id]">{{ movie.title }}</a></li>
        </ul>
        <br>
        <button type="button" class="btn-light btn-outline-dark"><a [routerLink] = "['/movie-list']">Back to list</a></button>
    </div>
</body>