<title> {{ m.title }} </title>
<link rel="stylesheet" href="movie-list-item.component.css">

<meta name="viewport" content="width=device-width", initial-scale=1.0">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
</style>

<p class = "title">FABFLIX</p>

<table class = "table">
    <caption> {{ m.title }} </caption>
    <tr>
        <th scope="row">{{ rank + 1}}</th>
        <td>{{ m.title }}</td>
        <td>{{ m.year }}</td>
        <td>{{ m.director }}</td>
        <td>
            <a *ngFor = "let genre of genres">{{ genre.name }}</a>
        </td>
        <td>{{ stars }}</td>
        <td>{{ rating }}</td>
    </tr>
</table>