<div *ngIf="isAuth && userType == 'Employee'">
    <form #addStarForm="ngForm" (ngSubmit)="addStarForm.reset()">
        <label for="starName">Star Name</label>
        <input type="text" id="starName" [(ngModel)]="starName" name="starName" placeholder="Star Name">
        <label for="birthYear">Star Birth Year</label>
        <input type="number" id="birthYear" [(ngModel)]="birthYear" name="birthYear">
        <button class="btn btn-secondary" type="submit">Add Star</button>
    </form>

    <br>

    <form #addMovieForm="ngForm" (ngSubmit)="addMovie(); addMovieForm.reset()">
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="title" name="title" placeholder="Title">
        <label for="year">Year</label>
        <input type="number" id="year" [(ngModel)]="year" name="year">
        <label for="director">Director</label>
        <input type="text" id="director" [(ngModel)]="director" name="director" placeholder="Director">
        <label for="star">Star</label>
        <input type="text" id="star" [(ngModel)]="movieStar" name="movieStar" placeholder="Star">
        <label for="genre">Genre</label>
        <input type="text" id="genre" [(ngModel)]="genre" name="genre" placeholder="Genre">
        <button class="btn btn-secondary" type="submit">Add Movie</button>
        <div *ngIf="invalidAddMovie">{{ invalidAddMovieMessage }}</div>
    </form>
<notifier-container></notifier-container>
</div>

