body {
    background: #232426;
}

.title {
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    margin: 0% 2.5%;
    color: #f3f3f3;
}

.table caption {
    font-size:1.5em;
    font-weight: bold;
    text-align: left;
    caption-side: top;
    margin: 10px 0;
    color: #f3f3f3;
}

.table {
    font-family: 'Abel', sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.0em;
    width : 95%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}

.table thead tr {
    background-color: #f3f3f3;
    color: steelblue;
    text-align: left;
}

.table th, .table td {
    text-align: left;
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #232426;
}

.return {
    float: right;
    margin: 10px 0;
    font-size: 0.6em;
}

.navigation {
    width: 94.20%;
    margin: 1% 2.5%;
    position: absolute;
}

.prev {
    float: left;
    font-size: 1em;
    width: 4%;
}

.next {
    float: right;
    font-size: 1em;
    width: 4%;
}

button {
    font-family: 'Abel', sans-serif;
    color: steelblue;
    background: #f3f3f3;
    text-decoration: none;
    border-radius: 20px;
}
