<div>
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">Rank</th>
                <th scope = "col">Title</th>
                <th scope = "col">Year</th>
                <th scope = "col">Director</th>
                <th scope = "col">Genres</th>
                <th scope = "col">Stars</th>
                <th scope = "col">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let m of topMovies; index as rank">
                <th scope="row">{{ rank + 1}}</th>
                <td>
                    <a [routerLink]="['/movie/', m.movie.id]">{{ m.movie.title }}</a>
                </td>
                <td>{{ m.movie.year }}</td>
                <td>{{ m.movie.director }}</td>
                <td>
                    <div *ngFor = "let genre of m.genres.slice(0,3)">
                        <a>{{ genre.name }}</a>
                    </div>
                </td>
                <td>
                    <div *ngFor = "let star of m.stars.slice(0,3)">
                        <a [routerLink]="['/star/', star.id]">{{ star.name }}</a>
                    </div>
                </td>
                <td>{{ m.rating.rating }}</td>
            </tr>
        </tbody>
    </table>
</div>
