<div *ngIf="isAuth">
<div *ngIf="userType == 'Customer'">
    <a [routerLink]="['/cart']"><button class="viewCart">View cart</button></a>
</div>
<div *ngIf="userType == 'Employee'">
    <a [routerLink]="['/_dashboard']"><button class="viewCart">Dashboard</button></a>
</div>
<div class="content">
    <p class="heading">Browse by Genre</p>
    <ul >
        <li *ngFor="let genre of genres">
            <a [routerLink]="['/movie-list']" [queryParams]="{by: 'genre', id: genre.id, page: 1, perPage: 25}">
                {{ genre.name }}
            </a>
        </li>
    </ul>
    <br>
    <a [routerLink] = "['/search']"><button type="button" class="back-button btn-secondary">Back to search</button></a>
</div>
</div>