@import "~angular-notifier/styles.css";

body {
    margin: 0;
    padding: 0;
    background: #232426;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
