

<!--<link rel="stylesheet" href="single-movie.component.css">-->

<!--<style>-->
<!--    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');-->
<!--    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');-->
<!--</style>-->

<div *ngIf="isAuth">
<body>
    <div *ngIf="userType == 'Customer'">
        <a [routerLink]="['/cart']"><button class="viewCart">View cart</button></a>
    </div>
    <div *ngIf="userType == 'Employee'">
        <a [routerLink]="['/_dashboard']"><button class="viewCart">Dashboard</button></a>
    </div>
    <div class = "content">
        <p class = "heading"><strong>Title</strong></p>
        <p>{{ movie.title }}</p>
        <p class = "heading"><strong>Genres</strong></p>
        <ul *ngFor="let genre of genres">
            <li>{{ genre.name }}</li>
        </ul>
        <p class = "heading"><strong>Stars</strong></p>
        <ul *ngFor="let star of stars">
            <li><a [routerLink]="['/star/', star.id]">{{ star.name }}</a></li>
        </ul>
        <p class = "heading"><strong>Rating</strong></p>
        <div *ngIf = "!rating">
            <p>N/A</p>
        </div>
        <div *ngIf = "rating">
            <p>{{ rating.rating }}</p>
        </div>
        <br>
        <a [routerLink]="" (click)="navigateToList()"><button type="button" style="color:white" class="btn-secondary btn-outline-dark">Back to list</button></a>
        <span *ngIf="userType == 'Customer'">
            <button type="button" class="btn-light btn-outline-dark" (click)="addToCart(movie.id, movie.title)"><a>Add to Cart</a></button>
        </span>
    </div>
</body>
</div>