<title>{{ movie.title }}</title>
<!-- <link rel="stylesheet" href="single-movie.component.css">

<meta name="viewport" content="width=device-width", initial-scale="1.0"> -->

<!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
</style> -->

<body>
    <div class = "content">
        <p class = "heading"><strong>Title</strong></p>
        <p>{{ movie.title }}</p>
        <p class = "heading"><strong>Genres</strong></p>
        <ul *ngFor="let genre of genres">
            <li>{{ genre.name }}</li>
        </ul>
        <p class = "heading"><strong>Stars</strong></p>
        <ul *ngFor="let star of stars">
            <li><a [routerLink]="['/star/', star.id]">{{ star.name }}</a></li>
        </ul>
        <p class = "heading"><strong>Rating</strong></p>
        <div *ngIf = "!rating">
            <p>N/A</p>
        </div>
        <div *ngIf = "rating">
            <p>{{ rating.rating }}</p>
        </div>
        <br>
        <button type="button" class="btn-light btn-outline-dark"><a [routerLink] = "['/movie-list']">Back to list</a></button>
    </div>
</body>
