<!--<link rel="stylesheet" href="browse-by-title.component.css">-->

<!--<style>-->
<!--    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');-->
<!--    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');-->
<!--</style>-->

<div class="content">
    <p class="heading">Browse by Title</p>
    <ul >
        <li class="list-item-heading">
            <p>By Number:</p>
            <span *ngFor="let number of numbers">
                <a [routerLink]="['/movie-list']" [queryParams]="{by: 'title', startsWith: number, page: 1, perPage: 25}">{{ number }}</a>
            </span>
        </li>
        <br>
        <li class="list-item-heading">
            <p>By Letter:</p>
            <span *ngFor="let letter of letters">
                <a [routerLink]="['/movie-list']" [queryParams]="{by: 'title', startsWith: letter, page: 1, perPage: 25}">{{ letter }}</a>
            </span>
        </li>
        <br>
        <li class="list-item-heading">
            <p>By Non-Alphanumeric:</p>
            <a [routerLink]="['/movie-list']" [queryParams]="{by: 'title', startsWith: '*', page: 1}">*</a>
        </li>
    </ul>
    <br>
    <button type="button" class="back-button"><a [routerLink] = "['/movie-list']">Back to search</a></button>
</div>
