* {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

.body {
  background-color: #232426;
  padding-top: 30vh;
}

.form-container {
  width: 310px;
  height: auto;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  position: relative;
}

.user-icon {
  background: url('user.png') no-repeat;
  width: 60px;
  height: 60px;
  background-size: 100%;
  position: absolute;
  top: -35px;
  left: 125px;
}

ul.list {
  list-style-type: none;
  text-align: center;
}

ul.list li {
  width: 250px;
  margin-bottom: 15px;
}

ul.list li input {
  width: 250px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 5px;
}

ul.list li input:focus {
  border-color: steelblue;
}

ul.list li input[type="submit"] {
  background-color: #f3f3f3;
  color: #000000;
  border: none;
}

ul.list li:nth-child(1) {
  font-size: 1.5em;
}

.alert {
  color: steelblue;
  text-align: center;
  font-size: 0.8em;
}
