<div *ngIf="isAuth == false && recaptchaLoaded == true">
<div class="body">
  <form name="login" action="form" method="POST">
    <div class="form-container">
      <div class="user-icon"></div>
      <ul class="list">
        <li>Member Login</li>
        <li><input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Username"></li>
        <li><input type="password" id="password" name="password" [(ngModel)]="password" placeholder="********"></li>
        <li><div class="g-recaptcha" data-sitekey="6LdCRfEUAAAAAHfGp1JVafyPoAsYADMioRmb54oO"></div></li>
        <li><input type="submit" name="submit" (click)=checkFields() value="Submit"></li>
      </ul>
      <div class="alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
      <div class="alert" *ngIf='incomplete'>{{incompleteMessage}}</div>
      <div class="alert" *ngIf='invalidRecaptcha'>{{recaptchaMessage}}</div>
    </div>
  </form>
</div>
</div>
